<p>Danh sách người dùng</p>
<div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Nhập tên thiết bị, tên thiết bị, tên người dùng"
        [(ngModel)]="term"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchByTerm()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
<button class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/add-user" routerLinkActive="active" class="nav-link">Thêm người dùng</a>
    </li>
  </button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Giới tính</th>
            <th>Mã số nhân viên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Bộ phận</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="
        let user of listUsers | paginate : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
                };
        let i = index
        "
        [class.active]="i == currentIndex"
        (click)="setActiveUser(user, i)">
            <td>{{user.id}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.employee_id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.department}}</td>
            <td>
                <button (click)="updateUser(user.id)" class="btn btn-info">cập nhật</button>
            </td>
            <td>
                <button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin-left:10px ;">xóa</button>
            </td>
            <td>
                <button (click)="viewUser(user.id)" class="btn btn-infor" style="margin-left:10px ;">xem</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>