<h3>muon thiet bi</h3>
<h3>Xem thong tin</h3>
<div>
    <div>
        <label><b>teen : </b></label>{{device.device_name}}
    </div>
    <div>
        <label><b>Hệ điều hành : </b></label>{{device.os}}
    </div>
    <div>
        <label><b>System model : </b></label>{{device.manufacturer}}
    </div>
    <div>
        <label><b>thông tin : </b></label>{{device.information}}
    </div>

</div>


<mat-toolbar color="primary">
  <span class="fill-remaining-space">Mượn thiết bị</span>
</mat-toolbar>

<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <div class="row">
            <!-- Ngay muon -->
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="borrow_date" formControlName="borrow_date" >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="borrow_date"></mat-datepicker-toggle>
          <mat-datepicker #borrow_date></mat-datepicker>
          <mat-error *ngIf="!formGroup.controls['borrow_date'].valid && formGroup.controls['borrow_date'].touched">
            Day la truong bat buoc
          </mat-error>
        </mat-form-field>

        <!-- Ngay tra -->
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="return_date" formControlName="return_date" >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="return_date"></mat-datepicker-toggle>
          <mat-datepicker #return_date></mat-datepicker>
          <mat-error *ngIf="!formGroup.controls['return_date'].valid && formGroup.controls['return_date'].touched">
            Day la truong bat buoc
          </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="form-element">
        <input matInput placeholder="Lý do mượn" formControlName="reason">
        <mat-error *ngIf="!formGroup.controls['reason'].valid && formGroup.controls['reason'].touched">
          Day la truong bat buoc
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>
</div>


