<h3>muon thiet bi</h3>
<h3>Xem thong tin</h3>
<div>
    <div>
        <label><b>teen : </b></label>{{device.device_name}}
    </div>
    <div>
        <label><b>Hệ điều hành : </b></label>{{device.os}}
    </div>
    <div>
        <label><b>System model : </b></label>{{device.manufacturer}}
    </div>
    <div>
        <label><b>thông tin : </b></label>{{device.information}}
    </div>

</div>

<form (ngSubmit)="onSubmit()">




    <div class="form-label">
        <label>ly do</label>
        <input type="text" class="form-control" id="reason"
        [(ngModel)]="loan.reason" name="reason">
    </div>
    <button class="btn btn-success" type="submit">add</button>


</form>
