img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
h2{
    text-align: center;
    align-items: center;
}
.col-2{
    margin: 0;
}
.col-9{
    margin: 0;
}
.container{
   display: flex;
    justify-content: center;
    text-align: center;
}