
    <h2>Cập nhật thông tin người dùng</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
       <div class="container">
        <div class="col-2">
            <div>
                <img *ngIf="user.avatar_url != null" src="../{{user.avatar_url}}" alt="Image not found">
                <input type="file" (change)="onImageUpload($event)">
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-element" style="width: 50%;">
                        <input type="text" matInput placeholder="Họ ：" formControlName="first_name" id="first_name"
                            [(ngModel)]="user.first_name" name="first_name">
                        <mat-error
                            *ngIf="!formGroup.controls['first_name'].valid && formGroup.controls['first_name'].touched">
                            Day la truong bat buoc
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-element" style="width: 50%;">
                        <input type="text" matInput placeholder="Tên ：" formControlName="last_name" id="last_name"
                            [(ngModel)]="user.last_name" name="last_name">
                        <mat-error
                            *ngIf="!formGroup.controls['last_name'].valid && formGroup.controls['last_name'].touched">
                            Day la truong bat buoc
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-element" style="width: 50%;">
                        <input type="email" matInput placeholder="Email ：" formControlName="email" id="email"
                            [(ngModel)]="user.email" name="email">
                        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                            Day la truong bat buoc
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-element" style="width: 50%;">
                        <input type="text" matInput placeholder="Giới tính ：" formControlName="gender" id="gender"
                            [(ngModel)]="user.gender" name="gender">
                        <!-- <mat-error *ngIf="!formGroup.controls['gender'].valid && formGroup.controls['gender'].touched">
                  Day la truong bat buoc
                </mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-element" style="width: 50%;">
                        <input type="text" matInput placeholder="Mã số nhân viên ：" formControlName="employee_id"
                            id="employee_id" [(ngModel)]="user.employee_id" name="employee_id">
                        <mat-error
                            *ngIf="!formGroup.controls['employee_id'].valid && formGroup.controls['employee_id'].touched">
                            Day la truong bat buoc
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-element" style="width: 50%;">
                        <input type="text" matInput placeholder="Số điện thoại ：" formControlName="phone" id="phone"
                            [(ngModel)]="user.phone" name="phone">
                        <mat-error *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
                            Day la truong bat buoc
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-element" style="width: 50%;">
                        <input type="text" matInput placeholder="Bộ phận ：" formControlName="department" id="department"
                            [(ngModel)]="user.department" name="department">
                        <mat-error
                            *ngIf="!formGroup.controls['department'].valid && formGroup.controls['department'].touched">
                            Day la truong bat buoc
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-element" style="width: 50%;">
                        <input type="password" matInput placeholder="Mật khẩu ：" formControlName="password"
                            id="password" [(ngModel)]="user.password" name="password">
                        <mat-error
                            *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                            Day la truong bat buoc
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="form-element" style="width: 50%;">
                        <input type="password" matInput placeholder="Nhập lại mật khẩu ：" formControlName="rePassword"
                            id="rePassword" [(ngModel)]="user.rePassword" name="rePassword">
                        <mat-error *ngIf="user.rePassword != user.password">
                            Day la truong bat buoc
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="form-label">
            <label>Họ: </label>
            <input type="text" class="form-control" id="first_name"
            [(ngModel)]="user.first_name" name="last_name">
        </div>
        <div class="form-label">
            <label>Tên: </label>
            <input type="text" class="form-control" id="last_name"
            [(ngModel)]="user.last_name" name="last_name">
        </div>
        <div class="form-label">
            <label>Giới tính: </label>
            <select name="gender" id="gender" input type="text" class="form-control" [(ngModel)]="user.gender" name="gender">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Không công khai">Không công khai</option>
            </select>
        </div>
        <div class="form-label">
            <label>Mã số nhân viên: </label>
            <input type="text" class="form-control" id="employee_id"
            [(ngModel)]="user.employee_id" name="employee_id">
        </div>
        <div class="form-label">
            <label>Email: </label>
            <input type="text" class="form-control" id="email"
            [(ngModel)]="user.email" name="email">
        </div>
        <div class="form-label">
            <label>Số điện thoại:</label>
            <input type="text" class="form-control" id="phone"
            [(ngModel)]="user.phone" name="phone">
        </div>
        <div class="form-label">
            <label>Bộ phận:</label>
            <input type="text" class="form-control" id="department"
            [(ngModel)]="user.department" name="department">-->
        

        <button class="btn btn-success" type="submit">Cập nhật</button>
    </div>
    </div>
    </form>
