body,html{
    min-height: 100vh;
    height: auto;
    display: block;
    width: auto;
   /* background-image: url(../assets/image/img1.jpg); */
}
.router-outlet{

    min-height: 100vh;
    height: auto;
    width: auto;
    text-align: center;
}

header{

    position: relative;
   height: 20%;
    background-size: cover;
    background-position: center;
    width: auto;

}
header::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0,4);
}

nav{
   position: fixed;
   display: flex;
   width: 100%;
   padding: 20px 0 ;
   z-index: 999;
   background-color: aquamarine;
   border-bottom: 1px inset #bebbbc;

}
nav .tab{
    justify-content: left;
    margin-left: 20px;
    margin-top: 9px;
    display: flex;

}
 nav .tab img{
    display: flex;
   height: 30px;
   width: 30px;
   cursor: pointer;

}
nav .tab a{
    padding: 0 30px;
    position: relative;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight:500;
    transition: all 0.3s ease;
}
nav .tab a:hover{
    background-color: yellowgreen;
    color: aliceblue;

}
nav .login{
    max-width: 1200px;
   margin-left: auto;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 20;
    text-decoration: none;

}
a{
    margin-right: 6px;
    position: relative;
    display: block;
    cursor: pointer;
}
.avatar{
    margin-left: 10px;
    margin-right: 10px;
 height: 40px;
 width: 40px;
 border-radius: 30px;
 cursor: pointer;

}
.avatar:hover{
    margin-left: 11px;
    margin-right: 10px;
   margin-top: 1px;

    height: 39px;
    width: 39px;
    border: 2px solid #b3b3b3;
    border-radius: 30px;
}
.avatar_menu{
    color: aliceblue;
    right: 30px;
    top:63px;
    height: 160px;
    width: 140px;
    background-color: rgba(8, 8, 10, 0.783);
    position: absolute;
    z-index: -5;

}
