<header>
  <nav>
    <div class="tab">
      <!-- <div>
        <h1 translate> TITLE </h1>
        <button click (click)="setEnglish()">EN</button>
        <button click (click)="setJapanese()">JP</button>
      </div> -->
      <img src="../../../assets/image/logoteamc.png" routerLink="home" style="height:30px">
      <a *ngIf="userLogin.name_role === 'ADMIN'" routerLink="home" routerLinkActive="active">Quản lý thiết bị</a>


      <a *ngIf="userLogin.name_role === 'ADMIN'" routerLink="home/user-list" routerLinkActive="active">Quản lý người
        dùng</a>


      <a *ngIf="userLogin.name_role === 'ADMIN'" routerLink="home/list" routerLinkActive="active">Quản lý mượn</a>

    </div>
    <div class="login">



      <a *ngIf="userLogin.id == null" routerLink="home/register" routerLinkActive="active" class="nav-link">Đăng ký</a>


      <a *ngIf="userLogin.id == null" routerLink="home/login" routerLinkActive="active" class="nav-link">Đăng nhập</a>


      <div *ngIf="userLogin.id != null" style="text-align: right;">
        Xin chào {{ userLogin.first_name }}!
      </div>

      <div *ngIf="userLogin.id != null">
        <img *ngIf="userLogin.avatar_url != null" (click)="hideshow()" class="avatar"
          src="../{{ userLogin.avatar_url }}" alt="" />
          <img *ngIf="userLogin.avatar_url === null" (click)="hideshow()" class="avatar"
          src="../{{ userLogin.avatar_url }}" alt="" />
      </div>


      <div class="avatar_menu" id="menu" style="display: none;">
        <div class="container">
          <div *ngIf="userLogin.id != null">
            <img *ngIf="userLogin.avatar_url != null" class="avatar" src="../{{ userLogin.avatar_url }}" alt="" />{{
            userLogin.first_name }}!
          </div>
          <a (click)="viewUser(userLogin.id)">cập nhật </a>
          <button click (click)="setEnglish()">EN</button>
          <button click (click)="setJapanese()">JP</button>
          <button click (click)="setVietnamese()">VN</button>
          <a *ngIf="userLogin.id != null" routerLink="home/logout" routerLinkActive="active" class="nav-link">Đăng
            xuất</a>
        </div>
      </div>
    </div>
  </nav>
</header>


<!-- <div>
      <h1 translate> TITLE </h1>
      <button click (click)="setEnglish()">EN</button>
      <button click (click)="setJapanese()">JP</button>
    </div> -->

<router-outlet class="router-outlet">

</router-outlet>

<footer class="footer">
  <div class="container">
      <span>Internship NAL - Team C - 08/2022</span>
  </div>
</footer>
