.dn{
    margin: auto;

}
.body{
    margin: auto;
    text-align: center;
    align-items: center;
}
.phan1{
    margin: auto;
    text-align: center;
    justify-items: center;
}

.dau{
    padding-top: 100px;
    margin: auto;
    text-align: center;
    justify-items: center;

}