<p style="font-size:160%,"><b>Quản lý thiết bị</b></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th>tên</th>
            <!-- <th>msnv</th> -->
            <th>email</th>
            <th>thiết bị mượn</th>
            <th>ngày mượn</th>
            <th>ngày trả</th>
            <th>tình trạng</th>
            <th>phe duyet</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let loan of listLoans; index as i">
            <td>{{i+1}}</td>
            <td>{{loan.username}}</td>
            <td>{{loan.email}}</td>
            <td>{{loan.deviceName}}</td>
            <td>{{loan.borrow_date.toString().substring(0,10)}}</td>
            <td>{{loan.return_date.toString().substring(0,10)}}</td>
            <td>{{loan.status}}</td>
            <td><button *ngIf="loan.status === 'Chờ phê duyệt'" (click)="approval(loan.id)" class="btn btn-info">Đồng ý</button></td>
            <td><button *ngIf="loan.status === 'Chờ phê duyệt'" (click)="reject(loan.id)" class="btn btn-danger">Từ chối</button></td>
        </tr>
    </tbody>
</table>


