<p style="font-size:160%,"><b></b></p>
<div style="padding-left: 10px !important;" class="col-md-8">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nhập tên thiết bị, hệ điều hành" [(ngModel)]="term" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="searchByTerm()"
                style="margin-right: 5px !important;">
                <mat-icon>search</mat-icon>
            </button>

        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-1"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th translate>ID</th>
                <th translate>NAME</th>
                <th translate>EMAIL</th>
                <th translate>DEVICENAME</th>
                <th translate>BENTALDAY</th>
                <th translate>CASHDAY</th>
                <th translate>STATUS</th>
                <th translate>APPROVAL</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let loan of listLoans; index as i">
            <td>{{i+1}}</td>
            <td>{{loan.username}}</td>
            <td>{{loan.email}}</td>
            <td>{{loan.deviceName}}</td>
            <td>{{loan.borrow_date.toString().substring(0,10)}}</td>
            <td>{{loan.return_date.toString().substring(0,10)}}</td>
            <td>{{loan.status}}</td>
                <td><button *ngIf="loan.status === 'Chờ phê duyệt'" (click)="approval(loan.id)"
                        class="btn btn-info" translate> APPROVE</button></td>
                <td><button *ngIf="loan.status === 'Chờ phê duyệt'" (click)="reject(loan.id)" class="btn btn-danger" translate>REJECT
                        </button></td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-12">
        <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
            (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
    <div class="col-1"></div>
</div>