<h3>Xem thong tin</h3>
<div>
    <div>
        <label><b>Họ</b></label>{{user.first_name}}
    </div>
    <div>
        <label><b>tên</b></label>{{user.last_name}}
    </div>
    <div>
        <label><b>giới tính </b></label>{{user.gender}}
    </div>
    <div>
        <label><b>email </b></label>{{user.email}}
    </div>
    <div>
        <label><b>msnv </b></label>{{user.employee_id}}
    </div>
   
    <div>
        <label><b>SDT</b></label>{{user.phone}}
    </div>
    <div>
        <label><b>avatar</b></label><img src="../{{user.avatar_url}}" alt="">
    </div>
</div>