
      <!-- <div class="row">
        <div class="col-8" style="text-align: left !important;">
         <img src="../../../assets/avatar/TeamC.jpg" style="height:30px">

            <a *ngIf="userLogin.name_role === 'ADMIN'" routerLink="home" routerLinkActive="active"
              >Quản lý thiết bị</a>


            <a *ngIf="userLogin.name_role === 'ADMIN'" routerLink="user-list" routerLinkActive="active"
              >Quản lý người dùng</a >


            <a *ngIf="userLogin.name_role === 'ADMIN'" routerLink="list" routerLinkActive="active"
              >Quản lý mượn</a >
        </div>
        <div class="col-4" style="text-align: right !important;">

            <a  *ngIf="userLogin.id == null"  routerLink="register" routerLinkActive="active" class="nav-link"
              >Đăng ký</a>


            <a  *ngIf="userLogin.id == null" routerLink="login" routerLinkActive="active" class="nav-link"
              >Đăng nhập</a>


          <button
            *ngIf="userLogin.id != null"
            (click)="viewUser(userLogin.id)"
            style="text-align: right;">
            Xin chào {{ userLogin.first_name }}!
          </button>

          <button *ngIf="userLogin.id != null" >
            <img
              *ngIf="userLogin.avatar_url != null"
              src="../{{ userLogin.avatar_url }}"
              alt=""
            />
          </button>

            <a *ngIf="userLogin.id != null" routerLink="logout" routerLinkActive="active" class="nav-link"
              >Đăng xuất</a >

        </div>
      </div> -->
<div class="device">
  <h1 class="text-center" style="color: rgb(209, 52, 209); padding-top:100px">{{ title }}</h1>
  <h2 style="padding-left: 10px !important;">Danh sách thiết bị</h2>

  <div class="row">
    <div class="col-2">
      <button style="margin-left: 10px !important; margin-bottom: 10px !important;" *ngIf="userLogin.name_role === 'ADMIN'" class="btn btn-info">
          <a routerLink="/add-device" routerLinkActive="active" class="nav-link">Thêm thiết bị</a >
      </button>
    </div>
    <div *ngIf="userLogin.name_role === 'ADMIN'" class="col-2">
      <button class="btn btn-info" (click)="exportExcel()">
        Xuất file excel
      </button>
    </div>
  </div>


<div style="padding-left: 10px !important;" class="col-md-8">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nhập tên thiết bị, hệ điều hành"
      [(ngModel)]="term"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="searchByTerm()" style="margin-right: 5px !important;">
        <mat-icon>search</mat-icon>
      </button>

    </div>
  </div>
</div>
<br />
<h2 style="text-align: center">Tổng số thiết bị: {{ total }}</h2>

<div class="row">
  <div class="col-3"></div>
  <div class="col-3">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
      ></apx-chart>
    </div>
  </div>
  <div class="col-3"></div>
</div>

<div class="row">
<div class="col-1"></div>
<div class="col-10">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên thiết bị</th>
        <th>Hệ điều hành</th>
        <th>System Model</th>
        <th>Ổ cứng</th>
        <th>Trạng thái</th>
        <th >Xem chi tiết</th>
        <th *ngIf="userLogin.name_role === 'ADMIN'">Cập nhật</th>
        <th *ngIf="userLogin.name_role === 'ADMIN'">Xóa</th>

      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of listDevices
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
        [class.active]="i == currentIndex"
        (click)="setActiveDevice(item, i)"
      >
        <td>{{ item.id }}</td>
        <td>{{ item.device_name }}</td>
        <td>{{ item.os }}</td>
        <td>{{ item.manufacturer }}</td>
        <td>{{ item.information }}</td>
        <td>
          {{ item.status === "Đã cho mượn" ? "Đã cho mượn" : "Còn trong kho" }}
        </td>

        <td>
          <button
            (click)="viewDevice(item.id)"
            class="btn btn-success"
            style="margin-left: 10px"
          >
          <mat-icon>visibility</mat-icon>
          </button>
        </td>

        <td>
          <button
            *ngIf="userLogin.name_role === 'ADMIN'"
            (click)="updateDevice(item.id)"
            class="btn btn-info"
          >
          <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button
            *ngIf="userLogin.name_role === 'ADMIN'"
            (click)="deleteDevice(item.id)"
            class="btn btn-danger"
            style="margin-left: 10px"
          >
          <mat-icon>delete_outline</mat-icon>
          </button>
        </td>

      </tr>
    </tbody>
  </table>
  <div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>
</div>
<div class="col-1"></div>
</div>
</div>
