<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="list-device" routerLinkActive="active" class="nav-link">Quản lý thiết bị</a>
      </li>
      <li *ngIf="userLogin.name_role === 'ADMIN'" class="nav-item">
        <a routerLink="user-list" routerLinkActive="active" class="nav-link">Quản lý người dùng</a>
      </li>
      <li *ngIf="userLogin.name_role === 'ADMIN'" class="nav-item">
        <a routerLink="list" routerLinkActive="active" class="nav-link">Quản lý muon</a>
      </li>
      
      <li  *ngIf="userLogin.id == null" class="nav-item">
        <a routerLink="register" routerLinkActive="active" class="nav-link">Đăng ký</a>
      </li>
      <li *ngIf="userLogin.id == null" class="nav-item">
        <a routerLink="login" routerLinkActive="active" class="nav-link">Đăng nhập</a>
      </li>

      <li *ngIf="userLogin.id != null" class="nav-item">
         Xin chào {{userLogin.first_name}}!
      </li>

      <li *ngIf="userLogin.id != null" class="nav-item">
        <a routerLink="logout" routerLinkActive="active" class="nav-link">Đăng xuất</a>
      </li>

  </ul>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
 <router-outlet>

 </router-outlet>
</div>
<h2>Danh sách thiết bị</h2>

<button  *ngIf="userLogin.name_role === 'ADMIN'" class="navbar-nav">
  <li class="nav-item">
    <a  routerLink="/add-device" routerLinkActive="active" class="nav-link">Thêm thiết bị</a>
  </li>
</button>

<div class="col-md-8">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nhập tên thiết bị, hệ điều hành"
      [(ngModel)]="term"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="searchByTerm()"
      >
        Search
      </button>
    </div>
  </div>
</div>
<br>
<h2 style="text-align: center;">Tổng số thiết bị: {{total}}</h2>
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"

    [legend]="chartOptions.legend"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [xaxis]="chartOptions.xaxis"
  ></apx-chart>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tên thiết bị</th>
      <th>Hệ điều hành</th>
      <th>System Model</th>
      <th>Ổ cứng</th>
      <th>Trang thai</th>
      <th *ngIf="userLogin.name_role === 'ADMIN'">cập nhật</th>
      <th *ngIf="userLogin.name_role === 'ADMIN'">xóa</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="
        let item of listDevices | paginate : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
              };
        let i = index
      "
      [class.active]="i == currentIndex"
      (click)="setActiveDevice(item, i)">
      <td> {{item.id}}</td>
      <td> {{item.device_name}} </td>
      <td> {{item.os}}</td>
      <td> {{item.manufacturer}}</td>
      <td> {{item.information}}</td>
      <td> {{item.status ? "San sang" : "Da cho muon"}}</td>
      <td>
        <button *ngIf="userLogin.name_role === 'ADMIN'"  (click)="updateDevice(item.id)" class="btn btn-info">cập nhật</button>
      </td>
      <td>
        <button *ngIf="userLogin.name_role === 'ADMIN'" (click)="deleteDevice(item.id)" class="btn btn-danger" style="margin-left:10px ;">xóa</button>
      </td>
      <td>
        <button   (click)="viewDevice(item.id)" class="btn btn-infor" style="margin-left:10px ;">xem</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="col-md-12">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    [responsive]="true"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>
</div>

