<!-- <div class="row">
        <div class="col-8" style="text-align: left !important;">
            <img src="../../../assets/image/logoteamc.png" style="height:30px">

            <a *ngIf="userLogin.name_role === 'ADMIN'" routerLink="home" routerLinkActive="active"
            translate>DEVICEMANAGE</a>


            <a *ngIf="userLogin.name_role === 'ADMIN'" routerLink="user-list" routerLinkActive="active"
            translate>USERMANAGE </a >


            <a *ngIf="userLogin.name_role === 'ADMIN'" routerLink="list" routerLinkActive="active"
            translate >DEVICELOANMAGE</a >
        </div>
        <div class="col-4" style="text-align: right !important;">

            <a  *ngIf="userLogin.id == null"  routerLink="register" routerLinkActive="active" class="nav-link"
            translate >SIGNUP </a>


            <a  *ngIf="userLogin.id == null" routerLink="login" routerLinkActive="active" class="nav-link"
            translate >LOGIN</a>


          <button
            *ngIf="userLogin.id != null"
            (click)="viewUser(userLogin.id)"
            style="text-align: right;">
            Xin chào {{ userLogin.first_name }}!
          </button>

          <button *ngIf="userLogin.id != null" >
            <img
              *ngIf="userLogin.avatar_url != null"
              src="../{{ userLogin.avatar_url }}"
              alt=""
            />
          </button>

            <a *ngIf="userLogin.id != null" routerLink="logout" routerLinkActive="active" class="nav-link"
            translate> LOGOUT</a >

        </div>
      </div> -->
<div style="padding-top:100px" class="t">
  <h1 class="text-center" style="color: rgb(209, 52, 209)">{{ title }}</h1>
  <h2 style="padding-left: 10px !important;" translate> DEVICELIST </h2>

  <div class="row">
    <div class="col-2">
      <button style="margin-left: 10px !important; margin-bottom: 10px !important;"
        *ngIf="userLogin.name_role === 'ADMIN'" class="btn btn-primary">
        <a routerLink="/add-device" routerLinkActive="active" class="nav-link" translate>ADDDEVICE </a>
      </button>
    </div>
    <div class="col-2" *ngIf="userLogin.name_role === 'ADMIN'">
      <button class="btn btn-info" (click)="exportExcel()">
        <b translate>EXPORTEXCELFILE</b>
      </button>
    </div>
  </div>


  <div style="padding-left: 10px !important;" class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="{{'DEVICESEARCHMODEL' | translate}}" [(ngModel)]="term" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchByTerm()"
          style="margin-right: 5px !important;">
          <mat-icon>search</mat-icon>
        </button>

      </div>
    </div>
  </div>
  <br />
  <h2 style="text-align: center" translate>TOTALDEVICE</h2>
  <h2 style="text-align: center">{{ total }}</h2>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-3">
      <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions" [legend]="chartOptions.legend" [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [xaxis]="chartOptions.xaxis"></apx-chart>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th translate>ID</th>
            <th translate>DEVICENAME</th>
            <th translate>OPERATINGSYSTEM</th>
            <th translate>SYSTEMMODEL</th>
            <th translate>SSD</th>
            <th translate>STATUS</th>
            <th translate>VIEWDETAIL</th>
            <th *ngIf="userLogin.name_role === 'ADMIN'" translate>UPDATE</th>
            <th *ngIf="userLogin.name_role === 'ADMIN'" translate>DELETE</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
          let item of listDevices
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        " [class.active]="i == currentIndex" (click)="setActiveDevice(item, i)">
            <td>{{ item.id }}</td>
            <td>{{ item.device_name }}</td>
            <td>{{ item.os }}</td>
            <td>{{ item.manufacturer }}</td>
            <td>{{ item.information }}</td>
            <td *ngIf="item.status === 'Đã cho mượn'" translate> UNAVAILABLE</td>
            <td *ngIf="item.status === 'Còn trong kho'" translate> AVAILABLE</td>

            <td style="text-align:center">
              <button (click)="viewDevice(item.id)" class="btn btn-success nut" style="margin-left: 10px">
                <mat-icon>visibility</mat-icon>
              </button>
            </td>

            <td style="text-align:center">
              <button *ngIf="userLogin.name_role === 'ADMIN'" (click)="updateDevice(item.id)" class="btn btn-info nut">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
            <td style="text-align:center">
              <button *ngIf="userLogin.name_role === 'ADMIN'" (click)="deleteDevice(item.id)" class="btn btn-danger nut"
                style="margin-left: 10px">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
      <div class="col-md-12">
        <pagination-controls previousLabel="{{'PREV' | translate}}" nextLabel="{{'NEXT' | translate}}" [responsive]="true"
          (pageChange)="handlePageChange($event)"></pagination-controls>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
