.device{
    min-height: 100vh;
    height: auto;
 align-items: center;
}

img{
    padding-left: 10px;
    width: 15%;
    height: 97% !important;
}
body{
    margin: auto;
}
.nut{
    align-items: center;
    margin: auto;
}
th{
    text-align: center;
}
.t{
min-height: 100vh;
height: auto;
}
.dau{

  
    
}
h2{
    text-align: center;
    padding-bottom: 30px !important;
}
.form-control{
    display: flex;
    left: 8pc;
}
.mb-3{
    display: flex;
    left: 8pc;
    width: 55%;
}
button{
    display: flex;
    margin: auto;
    left: 8pc;
}