<div style="padding-top:100px"></div>
<div class="col-md-8 offset-md-3">
    <h2 translate>ADDDEVICE</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="form-element" style="width: 50%;">
                    <input type="text" matInput placeholder="Tên thiết bị ：" formControlName="device_name"
                        id="device_name" [(ngModel)]="device.device_name" name="device_name">
                    <mat-error
                        *ngIf="!formGroup.controls['device_name'].valid && formGroup.controls['device_name'].touched">
                        <span translate>REQUIRED</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="form-element" style="width: 50%;">
                    <input type="text" matInput placeholder="Hệ thống ：" formControlName="os" id="os"
                        [(ngModel)]="device.os" name="os">
                    <mat-error *ngIf="!formGroup.controls['os'].valid && formGroup.controls['os'].touched">
                        <span translate>REQUIRED</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="form-element" style="width: 50%;">
                    <input type="text" matInput placeholder="System ：" formControlName="manufacturer" id="manufacturer"
                        [(ngModel)]="device.manufacturer" name="manufacturer">
                    <mat-error *ngIf="!formGroup.controls['manufacturer'].valid && formGroup.controls['manufacturer'].touched">
                        <span translate>REQUIRED</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="form-element" style="width: 50%;">
                    <textarea  type="text" matInput placeholder="Thông tin ：" formControlName="information" id="information"
                        [(ngModel)]="device.information" name="information"></textarea>
                    <mat-error *ngIf="!formGroup.controls['information'].valid && formGroup.controls['information'].touched">
                        <span translate>REQUIRED</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <!-- <div class="form-label">
        <label>Tên thiết bị</label>
        <input type="text" class="form-control" id="device_name"
        [(ngModel)]="device.device_name" name="device_name">

    </div>
    <div class="form-label">
        <label>Hệ đều hành</label>
        <input type="text" class="form-control" id="os"
        [(ngModel)]="device.os" name="os">
    </div>
    <div class="form-label">
        <label>System Model</label>
        <input type="text" class="form-control" id="manufacturer"
        [(ngModel)]="device.manufacturer" name="manufacturer">
    </div>
    <div class="form-label">
        <label>ổ cứng</label>
        <input type="text" class="form-control" id="information"
        [(ngModel)]="device.information" name="information">
    </div>
 -->


        <button class="btn btn-success" type="submit"translate>ADDDEVICE</button>

    </form>
</div>
