<h3>Xem thong tin</h3>
<div>
    <div>
        <label><b>Tên : </b></label>{{device.device_name}}
    </div>
    <div>
        <label><b>Hệ điều hành : </b></label>{{device.os}}
    </div>
    <div>
        <label><b>System model : </b></label>{{device.manufacturer}}
    </div>
    <div>
        <label><b>thông tin : </b></label>{{device.information}}
    </div>
    <div>
        <label><b>Mã QR : </b></label><img src="../{{device.path_QR}}" alt="">
    </div>
</div>
<button *ngIf="device.status !== 'Đã cho mượn'" class="navbar-nav">
    <li class="nav-item">
      <a routerLink="create" routerLinkActive="active" class="nav-link">Đăng ký mượn thiết bị</a>
    </li>
  </button>
