<div style="padding-top:100px" class="t">
    <h3 translate>VIEWDETAIL</h3>
    <div class="xem">
        <div class="tt">
            <div class="ts">
                <label><b translate>DEVICENAME</b> :</label>
               <div class="kq">{{device.device_name}}</div>
            </div>
            <div class="ts">
                <label><b translate>OS </b> :</label>
                <div class="kq">{{device.os}}</div>
            </div>
            <div class="ts">
                <label><b translate>SYSTEMMODEL </b> :</label>
                <div class="kq">{{device.manufacturer}}</div>
            </div>
            <div class="ts">
                <label><b translate>SSD</b> : </label>
                <div class="kq">{{device.information}}</div>
            </div>
            <div class="ts">
                <label><b translate>QRCODE</b> : </label>
                <div class="kq"><img style="max-height:50px; max-width:50px; overflow: hidden"
                    src="../{{device.path_QR}}" alt=""></div>
            </div>
        </div>
        <div class="nut">
            <button *ngIf="device.status !== 'Đã cho mượn'" class="btn btn-primary">

                <a routerLink="create" routerLinkActive="active" class="nav-link" translate>REGISTERTOBORROWDEVICE </a>

            </button>

            <button *ngIf="device.status === 'Đã cho mượn' && user.id == userLogin.id" (click)="returnDevice(device.id)"
                class="btn btn-success" translate>
                RETURNDEVICE
            </button>
        </div>
    </div>
</div>